# Dependencies
node_modules

# Git
.git
.gitignore

# Environment
.env
.env.*

# Logs
logs
*.log

# Build
dist
coverage

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.yml

# Tests
tests

# Documentation
README.md