####################################################
# Server
####################################################

NODE_ENV=
PORT=
TRUST_PROXY=

####################################################
# Database
####################################################

DATABASE_URL=

####################################################
# Authentication
####################################################

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

####################################################
# Frontend
####################################################

CLIENT_URL=
####################################################
# Logging
####################################################

LOG_LEVEL=